PROJECT_NAME=convivio_kafka_service

ZOOKEEPER_PORT=2181
ZOOKEEPER_TAG=latest
# ZOOKEEPER_TAG=3.4.6


KAFKA_PORT=9092
KAFKA_TAG=2.11-2.0.0
# KAFKA_TAG=2.11-1.1.1
# KAFKA_TAG=2.10-0.8.2.2
# KAFKA_TAG=1.1.0
# KAFKA_TAG=1.0.1
# KAFKA_TAG=1.0.0
# KAFKA_TAG=0.11.0.1
# KAFKA_TAG=0.10.2.1
# KAFKA_TAG=0.10.1.1
# KAFKA_TAG=0.9.0.1-1
# This must be modified after creating a Docker machine for Kafka.
# KAFKA_ADVERTISED_HOST_NAME={Docker Machine IP} #192.168.99.100
KAFKA_ADVERTISED_HOST_NAME=192.168.99.101
